body {
            background: rgb(9,9,121);
            background: linear-gradient(0deg, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
            font-size: 25;
        }

        #titulo-uno {
            color: black;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 3em;
        }

        #texto-left {
            text-align: left;
        }

        #lista-aplicaciones {
            background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
            width: 400px;
            margin: auto;
            border: 5px none black;
            border-radius: 40px 40px 40px 40px;
        }

        #container {
            background-image: linear-gradient(to bottom, #08bfff, #31c5fe, #47cafd, #5ad0fc, #6ad5fb);
            width: 700px;
            margin-left: 250px;
            border: 5px none rgba(47,222,255,0.47);
            border-radius: 40px 40px 40px 40px;
            padding: 30px;
        }

        #information-links {
            width: 30%;
        }

        #texto-info-sub {
            background-color: blue;
        }

        .texto-bold {
            font-weight: bold;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        .subtitulos-uno {
            font-weight: bold;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 2em;
        }

        .subtitulos-dos {
            font-weight: bold;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.5em;
        }

        .center-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
        }

        .texto-html {
            color: red;
        }

        .texto-css {
            color: gold;
        }

        .left-img-float {
            float: left;
            margin-right: 5px;
            margin-bottom: 8px;
        }

        p {
            font-family: Arial, Helvetica, sans-serif;
        }
